{
    email adrian.janczenia@gmail.com
}

(static) {
    @static {
        file
        path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
    }
    header @static Cache-Control max-age=5184000
}

(security) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; script-src 'self' 'unsafe-inline' blob:; img-src 'self' data:; font-src 'self' https://fonts.gstatic.com; object-src 'self' blob:; frame-ancestors 'none'; upgrade-insecure-requests;"
    }
}

{$DOMAIN_NAME}, www.{$DOMAIN_NAME} {
    encode zstd gzip
    import static
    import security

    reverse_proxy frontend-service:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }

    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }

    log {
        output file /var/log/caddy/access.log {
            roll_size 10mb
            roll_keep 5
        }
    }
}